*.[oa]
*~
#*
Makefile.in
Makefile
*.lo
.deps
.libs
*.la
enna-media-server
missing
stamp-h1
aclocal.m4
ABOUT-NLS
compile
m4/*.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
autom4te.cache/
config.cache
config.cache-env
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
*.gmo
*.header
*.insert-header
install-sh
libtool
ltmain.sh
ems_rpc_*.[ch]
massif.out.*
enna-*.tar.gz
enna-*.tar.bz2
enna-*.tar.xz
/src/bin/enna
/data/theme/default/default.edj
/data/theme/stb/stb.edj
/config.h.in
po/*.poconfig.rpath
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/enna.pot
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
data/theme/phone/phone.edj
*.patch
config.rpath
*.po
