Source: enna
Section: multimedia
Priority: optional
Maintainer: Nicolas Aguirre <captainigloo@geexbox.org>
Build-Depends: debhelper (>= 6), cdbs, automake1.10, autopoint, subversion, 
 libtool, pkg-config, libelementary-dev, libecore-dev, libedje-dev, libefreet-dev,
 libeio-dev, libethumb-dev, libcurl4-gnutls-dev, libxrandr-dev, liblircclient-dev,
 libvalhalla-dev
Standards-Version: 3.8.2
Vcs-Git: https://github.com/enna-project/enna
Vcs-Browser: https://github.com/enna-project/enna
Homepage: http://enna.me

Package: enna
Architecture: any
Depends: ${shlibs:Depends}, libelementary, liblircclient0, libvalhalla (>= 2.0.0)
Description: a powerful and Open MediaCenter application based on EFL.
 Enna is a Media Center application.
 Featuring a simple user interface, Enna is based on the powerful Enlightenment
 Foundations Libraries (EFL) as for its graphical user interface.
